body {
  background:  #d3e0bb;
  color:       #000000;
  font-family: Sans-Serif;
  font-size:   12pt;
  margin-top:  0px;
}

a {
  text-decoration: none;
  text-shadow:     #4aa738 1px 1px 1px;
}

a:link:hover, a:visited:hover {
  color:           #666666;
  text-decoration: underline;
}

a:link, a:visited {
  color:       #4aa738;
  text-shadow: #4aa738 1px 1px 1px;
}

code {
  font-size:   10pt;
  white-space: pre-wrap;
}

div#donate {
  height:        62px;
  right:         40px;
  position:      absolute;
  top:           20px;
  width:         55px;
}

div#logo {
  background:    #d3e0bb;
  border-radius: 5px;
  float:         right;
  height:        128px;
  width:         128px;

  -moz-border-radius:    5px;
  -moz-box-shadow:       0 0 5px 5px #4aa738;
  -webkit-border-radius: 5px;
  -webkit-box-shadow:    0 0 5px 5px #4aa738;
}

div#content {
  background:  #eef2dd;
  border-left: 5px solid #2d6622;
  color:       #000000;
  margin:      0px auto;
  padding:     20px;
  width:       600px;
}

div#footer {
  background:    #2d6622;
  border-radius: 0 0 5px 5px;
  color:         #ffffff;
  margin:        0px auto;
  padding:       0px 22px 0px 22px;
  text-align:    center;
  text-shadow:   #333333 1px 1px 1px;
  width:         601px;

  -moz-border-radius:    0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
}

div.text {
  text-align: justify;
}

h1 {
  color:       #4aa738;
  font-family: Monospace;
  text-shadow: #333333 2px 2px 4px;
}

h2 {
  border-bottom: 2px solid #4aa738;
  color:         #4aa738;
  font-family:   Monospace;
  text-shadow:   #333333 1px 1px 1px;
}

pre {
  background: #d3e0bb;
  border:     1px solid #2d6622;
  margin:     0px auto;
  padding:    1px 10px;
  width:      90%;
}

ul {
  list-style-type: square;
}

ul#menu {
    background:    #2d6622;
    border-bottom: 2px solid #b01000;
    border-left:   5px solid #2d6622;
    line-height:   16pt;
    margin:        0px auto;
    width:         600px;
}

ul#menu a:hover {
   color: #dddddd;
}

ul#menu li {
    display:     inline;
    margin:      20px;
    text-shadow: #bb0000 1px 1px;
}

ul#menu span {
    font-weight: bold;
}
